In [178]:
from pprint import pprint

# Basic Collection Types

In [128]:
lst = list()
lst = [] # generally considered to be more pythonic

d = dict()
d = {} # generally considered to be more pythonic

tup = tuple()
tup = () # generally considered to be more pythonic

s = set()

Each colleciton has a literal construction mechanism

In [136]:
lst = [1, 2, 3]
d = {"key": "value"}
tup = (1, 2, 3)
s = set([1, 2, 3])
ss = {1, 2, 3} # added in python 2.7

Beware, the tuple operator is actually the `,`. `()` is a special constructor for the _empty_ set.

In [130]:
t = (1)
t2 = (1,)

print t, type(t)
print t2, type(t2)

1 <type 'int'>
(1,) <type 'tuple'>

### Comprehensions

In [131]:
xs = range(10)
print xs
squares = [x ** 2 for x in xs]
print squares

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [134]:
ds = {"min": 0, "max": 10}
print ds
squared = {"%s_squared" % k: v ** 2 for k, v in ds.items()} # added in python 2.7
print squared

{'max': 10, 'min': 0}
{'max_squared': 100, 'min_squared': 0}

In [167]:
import random
s = {random.randint(1, 20) for x in range(20)}
print len(s), s

12 set([1, 2, 3, 7, 11, 12, 13, 14, 16, 17, 18, 20])

# Deque

Short for double-ended queue. This structure is useful for situations where the most common operation is appending or removing elements from either end.  As the name implies, this is a common use-case for a queue.

In [2]:
from collections import deque

In [3]:
dq = deque()
ls = list()

In [4]:
dq.append(1)
ls.append(1)

dq.appendleft(1)
ls.insert(0, 1)

### Append/Prepend

In [171]:
%%timeit
ls = []
for i in xrange(100):
    ls.append(1)

100000 loops, best of 3: 7.78 µs per loop

In [170]:
%%timeit
dq = deque()
for i in xrange(100):
    dq.append(1)

100000 loops, best of 3: 7.25 µs per loop

In [169]:
%%timeit
ls = []
for i in xrange(100):
    ls.insert(0, 1) # this is a very slow case for a regular list

10000 loops, best of 3: 19.5 µs per loop

In [8]:
%%timeit
dq = deque()
for i in xrange(100):
    dq.appendleft(1)

100000 loops, best of 3: 7.3 µs per loop

### Access

In [173]:
ls = range(100)
dq = deque(range(100))

#### Random Access

In [174]:
%%timeit
dq[50]

The slowest run took 56.68 times longer than the fastest. This could mean that an intermediate result is being cached.
10000000 loops, best of 3: 37.9 ns per loop

In [175]:
%%timeit
ls[50]

The slowest run took 43.55 times longer than the fastest. This could mean that an intermediate result is being cached.
10000000 loops, best of 3: 27.4 ns per loop

#### Sequential Access

In [176]:
%%timeit
for x in ls:
    pass

The slowest run took 10.75 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 987 ns per loop

In [13]:
%%timeit
for x in dq:
    pass

The slowest run took 9.87 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 932 ns per loop

#### Slices

In [14]:
%%timeit
ls[5:15]

10000000 loops, best of 3: 131 ns per loop

In [15]:
%%timeit
list(dq)[5:15] # deques don't support slicing directly

The slowest run took 4.71 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 810 ns per loop

# Mappings

In [66]:
d = {}
d["key"] = "value"
d

{'key': 'value'}

In [67]:
print d["key"]
print d.get("key")
print d.get("not_there")
print d.get("not_there", "default!")

value
value
None
default!

## Valid Keys

Dictionary keys must be hashable types.  Most immutable types are hashable.  Some examples are strings, numbers, boolean values, tuples, and even functions or classes.

In [97]:
def square(x):
    return x ** 2

{
    "a": "b",
    1: "lonely",
    True: "bull",
    ("left", "right"): 42,
    square: "told you so %d" % (square(42))
}

{1: 'bull',
 <function __main__.square>: 'told you so 1764',
 'a': 'b',
 ('left', 'right'): 42}

## Basic Operations

In [82]:
example = {"color": "blue", "age": 34, "name": "Jesse"}

In [96]:
my_example = dict(example) # performs a shallow copy
pprint(my_example)
del my_example["color"] # delete the "color" key
pprint(my_example)
pprint(example) # original dictionary is unharmed!
pprint(len(example)) # number of keys

{'age': 34, 'color': 'blue', 'name': 'Jesse'}
{'age': 34, 'name': 'Jesse'}
{'age': 34, 'color': 'blue', 'name': 'Jesse'}
3

In [87]:
"age" in example

True

In [88]:
"missing" not in example

True

In [89]:
my_example = example.copy() # another way to shallow copy
pprint(my_example)
my_example.clear()
pprint(my_example)

{'age': 34, 'color': 'blue', 'name': 'Jesse'}
{}

### Merge two mappings

In [92]:
left = {"color": "red", "team": "razorbacks", "beer": "dark"}
right = {"color": "purple", "team": "tigers", "wine": "moscato"}

l_copy = left.copy()
l_copy.update(right)
l_copy

{'beer': 'dark', 'color': 'purple', 'team': 'tigers', 'wine': 'moscato'}

In [110]:
a = example.copy()
a.pop("color")

'blue'

In [127]:
b = example.copy()
b.popitem() # it's random, the order is an implementation detail

('color', 'blue')

### Iteration

In [168]:
for key in example:
    print key

color
age
name

In [79]:
for key, value in example.items():
    print "%s: %s" % (key, value)

color: blue
age: 34
name: Jesse

## defaultdict

A subclass of the standard dictionary class that provides a factory for building non-existent keys when they are accessed.

In [177]:
from collections import defaultdict

In [179]:
d = {}
dd = defaultdict(int)

d["key"] = 1
dd["key"] = 1

print d
print dd

{'key': 1}
defaultdict(<type 'int'>, {'key': 1})

In [180]:
d = {}
dd = defaultdict(int)

print dd["key"]
print d["key"]

0

KeyError: 'key'

# Dictionary vs defaultdict

Using a standard dictionary, you must check for the non-existence of a key every loop and create the desired default value if it does not exist.

In [181]:
d = {}

for x in range(30):
    bucket = "even" if (x % 2 == 0) else "odd"
    if bucket not in d:
        d[bucket] = []
    d[bucket].append(x)

d

{'even': [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28],
 'odd': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]}

The `setdefault` method provides a bit of a shortcut for this common task.

In [182]:
d = {}

for x in range(30):
    bucket = "even" if (x % 2 == 0) else "odd"
    d.setdefault(bucket, []).append(x)

d

{'even': [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28],
 'odd': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]}

A defaultdict requires you to specify a *factory function* when you create it to control the behavior of `__getitem__` on non-existent keys.  I find this to be preferable to either option above.

In [183]:
dd = defaultdict(list)

for x in range(30):
    bucket = "even" if (x % 2 == 0) else "odd"
    dd[bucket].append(x)

dd

defaultdict(list,
            {'even': [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28],
             'odd': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]})

Let's get some data to play with.  I'm using the requests http client library to download a list of common passwords.

In [21]:
import requests
words = requests.get("https://raw.githubusercontent.com/berzerk0/Probable-Wordlists/master/Real-Passwords/Top3575-probable.txt").text.split("\n")

### Counting

You can count with vanilla dictionaries by exploiting the default portion of the `.get` method.
This is a good way to prepare data for use in a histogram.

Let's see how many passwords there are per length of password.  For example, in our list there are 1191 passwords that are 6 characters long.

In [184]:
by_len = {}
for word in words:
    by_len[len(word)] = by_len.get(len(word), 0) + 1

by_len

{0: 1,
 1: 10,
 2: 2,
 3: 5,
 4: 61,
 5: 191,
 6: 1191,
 7: 736,
 8: 972,
 9: 277,
 10: 102,
 11: 18,
 12: 7,
 13: 2}

Let's see the breakdown of passwords by unique characters.  We can count the number of unique characters by forcing a string into a set and checking the length.

In [186]:
word = "banana"
print len(word)
print set(word)
print len(set(word))

6
set(['a', 'b', 'n'])
3

In [185]:
dist_ch = {}
for word in words:   
    chs = len(set(word))
    dist_ch[chs] = dist_ch.get(chs, 0) + 1
    
dist_ch

{0: 1,
 1: 84,
 2: 51,
 3: 70,
 4: 270,
 5: 786,
 6: 1121,
 7: 750,
 8: 323,
 9: 93,
 10: 22,
 12: 4}

### Grouping

It's worth noting that `setdefault` tends to be a slower operation when compared to employing a factory function with a `defaultdict`.

In [189]:
%%timeit
d = {}
for word in words:
    chs = len(set(word))
    d.setdefault(chs, []).append(word)

100 loops, best of 3: 3.21 ms per loop

In [190]:
%%timeit
dd = defaultdict(list)
for word in words:
    chs = len(set(word))
    dd[chs].append(word)

100 loops, best of 3: 2.81 ms per loop

### More counting

The collections package provides a `Counter` class that can be used for, counting.  It's essentially a specialized dictionary that is optimized for mappings where the values are numbers.

In [26]:
from collections import Counter

Let's do a variation on our unique character count from before. This time let's get the most common character sets from our data.

Looks like there are 8 passwords in the set that are comprised of **nothing** but the number `1`.

In [27]:
c = Counter()
for word in words:
    dist_ch = tuple(sorted(set(word)))
    c[dist_ch] += 1

c.most_common(5)

[((u'1', u'2', u'3', u'4', u'5', u'6', u'7', u'8', u'9'), 14),
 ((u'1', u'2', u'3'), 8),
 ((u'1',), 8),
 ((u'a',), 7),
 ((u'1', u'2', u'3', u'4'), 7)]

## Data Wrangling

It's very common to want to work with a list of mappings (*cough*relational databases*cough*).  To get started let's grab some fake sales data and read it using the built in `csv` module.

In [29]:
import csv
dataset = requests.get("http://samplecsvs.s3.amazonaws.com/SalesJan2009.csv")
r = csv.DictReader(dataset.iter_lines())
rows = list(r)

In [30]:
len(rows)

998

In [31]:
rows[0]

{'Account_Created': '1/2/09 6:00',
 'City': 'Basildon',
 'Country': 'United Kingdom',
 'Last_Login': '1/2/09 6:08',
 'Latitude': '51.5',
 'Longitude': '-1.1166667',
 'Name': 'carolina',
 'Payment_Type': 'Mastercard',
 'Price': '1200',
 'Product': 'Product1',
 'State': 'England',
 'Transaction_date': '1/2/09 6:17'}

Each row appears to represent a sales transaction.  Let's figure out the most common countries where transactions occurred.

In [32]:
countries = Counter()
for row in rows:
    countries[row["Country"]] += 1
countries.most_common(3)

[('United States', 463), ('United Kingdom', 100), ('Canada', 76)]

The `'Price'` column is a string.  Not only that, but it's a formatted string with comma characters in it in some cases.  Let's build a function to convert that to an integer.

In [49]:
def parse_price(rev):
    return int(filter(lambda c: c.isdigit(), rev))

Now that we have a way to make the `'Price'` column a real number, we can see how much revenue has been generated in each country.

In [50]:
revenue_by_country = defaultdict(list)
for row in rows:
    revenue_by_country[row["Country"]].append(parse_price(row["Price"]))
    
sorted((sum(rev), c) for c, rev in revenue_by_country.items())

[(1200, 'Argentina'),
 (1200, 'Bahrain'),
 (1200, 'Bermuda'),
 (1200, 'Bulgaria'),
 (1200, 'Cayman Isls'),
 (1200, 'China'),
 (1200, 'Costa Rica'),
 (1200, 'Dominican Republic'),
 (1200, 'Greece'),
 (1200, 'Guatemala'),
 (1200, 'Hong Kong'),
 (1200, 'Iceland'),
 (1200, 'Israel'),
 (1200, 'Jersey'),
 (1200, 'Kuwait'),
 (1200, 'Latvia'),
 (1200, 'Luxembourg'),
 (1200, 'Malaysia'),
 (1200, 'Moldova'),
 (1200, 'Romania'),
 (1200, 'South Korea'),
 (1200, 'Ukraine'),
 (2400, 'Finland'),
 (2400, 'India'),
 (2400, 'Japan'),
 (2400, 'Monaco'),
 (2400, 'Philippines'),
 (2400, 'Poland'),
 (2400, 'The Bahamas'),
 (3600, 'Hungary'),
 (3600, 'Mauritius'),
 (3600, 'Russia'),
 (4800, 'Malta'),
 (4800, 'Thailand'),
 (6000, 'Czech Republic'),
 (7200, 'New Zealand'),
 (7200, 'Turkey'),
 (10800, 'Austria'),
 (12000, 'Belgium'),
 (12000, 'United Arab Emirates'),
 (12300, 'Brazil'),
 (12300, 'South Africa'),
 (16800, 'Spain'),
 (18000, 'Denmark'),
 (21600, 'Norway'),
 (22800, 'Sweden'),
 (37800, 'Italy'),
 (42000, 'Germany'),
 (44700, 'Netherlands'),
 (53100, 'France'),
 (64800, 'Australia'),
 (69900, 'Ireland'),
 (76800, 'Switzerland'),
 (124800, 'Canada'),
 (144000, 'United Kingdom'),
 (750000, 'United States')]

Grouping then aggregating a collection of mappings is very common.  I'll continue to do this operation for every example from here on out.  Let's calculate the average sales price, total sales price, and total number of sales per country.

In [192]:
def avg(prices):
    return sum(prices) / len(prices)

group = defaultdict(list)
for row in rows:
    group[row["Country"]].append(parse_price(row["Price"]))

price_info = {country: (avg(prices), sum(prices), len(prices)) for country, prices in group.items()}
pprint(price_info)

{'Argentina': (1200, 1200, 1),
 'Australia': (1705, 64800, 38),
 'Austria': (1542, 10800, 7),
 'Bahrain': (1200, 1200, 1),
 'Belgium': (1500, 12000, 8),
 'Bermuda': (1200, 1200, 1),
 'Brazil': (2460, 12300, 5),
 'Bulgaria': (1200, 1200, 1),
 'Canada': (1642, 124800, 76),
 'Cayman Isls': (1200, 1200, 1),
 'China': (1200, 1200, 1),
 'Costa Rica': (1200, 1200, 1),
 'Czech Republic': (2000, 6000, 3),
 'Denmark': (1200, 18000, 15),
 'Dominican Republic': (1200, 1200, 1),
 'Finland': (1200, 2400, 2),
 'France': (1966, 53100, 27),
 'Germany': (1680, 42000, 25),
 'Greece': (1200, 1200, 1),
 'Guatemala': (1200, 1200, 1),
 'Hong Kong': (1200, 1200, 1),
 'Hungary': (1200, 3600, 3),
 'Iceland': (1200, 1200, 1),
 'India': (1200, 2400, 2),
 'Ireland': (1426, 69900, 49),
 'Israel': (1200, 1200, 1),
 'Italy': (2520, 37800, 15),
 'Japan': (1200, 2400, 2),
 'Jersey': (1200, 1200, 1),
 'Kuwait': (1200, 1200, 1),
 'Latvia': (1200, 1200, 1),
 'Luxembourg': (1200, 1200, 1),
 'Malaysia': (1200, 1200, 1),
 'Malta': (2400, 4800, 2),
 'Mauritius': (3600, 3600, 1),
 'Moldova': (1200, 1200, 1),
 'Monaco': (1200, 2400, 2),
 'Netherlands': (2031, 44700, 22),
 'New Zealand': (1200, 7200, 6),
 'Norway': (1350, 21600, 16),
 'Philippines': (1200, 2400, 2),
 'Poland': (1200, 2400, 2),
 'Romania': (1200, 1200, 1),
 'Russia': (3600, 3600, 1),
 'South Africa': (2460, 12300, 5),
 'South Korea': (1200, 1200, 1),
 'Spain': (1400, 16800, 12),
 'Sweden': (1753, 22800, 13),
 'Switzerland': (2133, 76800, 36),
 'Thailand': (2400, 4800, 2),
 'The Bahamas': (1200, 2400, 2),
 'Turkey': (1200, 7200, 6),
 'Ukraine': (1200, 1200, 1),
 'United Arab Emirates': (2000, 12000, 6),
 'United Kingdom': (1440, 144000, 100),
 'United States': (1619, 750000, 463)}

### Sorting
`sorted`, `max`, and `min` all optionally take a `key` kwarg that allows you to control how to sort a collection.

In [193]:
print "most transactions"
pprint(max(price_info.items(), key=lambda pair: pair[1][2]))

most transactions
('United States', (1619, 750000, 463))

The operator package provides a useful method `itemgetter` which allows you to specify which item out of a collection.  The `itemgetter` function is higher-order, meaning that it returns a function.

In [196]:
from operator import itemgetter

In [199]:
itemgetter(0)

In [197]:
ls = [1, 2, 3]
itemgetter(1)(ls)

2

In [198]:
d = {"name": "Jesse", "color": "blue"}
itemgetter("name")(d)

'Jesse'

In [200]:
print "best average price"
pprint(max(price_info.items(), key=itemgetter(1)))

best average price
('Russia', (3600, 3600, 1))

The collections module provides a specializtion of the `tuple` called `namedtuple`.  It provides an immutable mapping structure.  Let's use it to create a `Record` object to apply to our dataset.

In [204]:
from collections import namedtuple
column_names = list(rows[0]) # remember that iterating over a dictionary operates on the keys
print column_names
Record = namedtuple('Record', " ".join(column_names))

['City', 'Product', 'Name', 'Country', 'Price', 'Longitude', 'State', 'Transaction_date', 'Last_Login', 'Payment_Type', 'Latitude', 'Account_Created']

In [205]:
Record(**rows[0]) # create a record from the first row of the dataset

Record(City='Basildon', Product='Product1', Name='carolina', Country='United Kingdom', Price='1200', Longitude='-1.1166667', State='England', Transaction_date='1/2/09 6:17', Last_Login='1/2/09 6:08', Payment_Type='Mastercard', Latitude='51.5', Account_Created='1/2/09 6:00')

### Unpacking
What was that `**` bit?

Most iterables support unpacking. That is, you can take the items from the collection and assign them names.

In [217]:
a, b = (1, 2)
print a
print b

1
2

Dictionary unpacking is different from list or tuple unpacking.  You can only unpack mappings into kwargs.

In [222]:
def ex(foo="fancy"):
    print foo

ex()

ex(**{"foo": "bar"})

fancy
bar

We can convert our entire dataset from a list of dictionaries to list of `Record` objects. This will allow us to refer to the column names using the dot notation.

In [38]:
table = [Record(**row) for row in rows]

In [53]:
c = Counter()
for rec in table:
    c[rec.Payment_Type] += parse_price(rec.Price)
c.most_common()

[('Visa', 849350),
 ('Mastercard', 458450),
 ('Amex', 188900),
 ('Diners', 133800)]

# Don't Use This

What follows is a simplistic data query system that utilizes customized lists and default dictionaries.  I'm going to attempt to demonstrate most of the topics already covered in a cohesive example.  And, as it says in the title, please do not use this code in a production setting!

In [259]:
class GroupBy(defaultdict):
    """
    This class facilitates a grouping of data by a single key.
    The value of the dictionary is expected to be a list of namedtuples.
    """
    
    by = "undefined"
    
    def sum(self, by):
        return self.agg(by, sum)
    
    def max(self, by):
        return self.agg(by, max)
    
    def min(self, by):
        return self.agg(by, min)
    
    def avg(self, by):
        def avg(values):
            xs = list(values)
            return sum(xs) / len(xs)
        return self.agg(by, avg)
    
    def count(self):
        R = namedtuple("Record", "%s count" % self.by)
        return Table(R(k, len(rows)) for k, rows in self.items())
    
    def agg(self, by, func):
        R = namedtuple("Record", "%s %s_%s" % (self.by, func.__name__, by))
        return Table(R(k, func(rows.select(by))) for k, rows in self.items())

    
class Table(list):
    
    def group(self, by):
        """
        Returns a GroupBy of rows by the specified key.
        """
        grouping = GroupBy(Table)
        grouping.by = by
        for row in self:
            grouping[getattr(row, by)].append(row)
        return grouping
    
    def select(self, col):
        """
        Yields all the values of a single column.
        """
        for row in self:
            yield getattr(row, col)
            
    def apply(self, col, func):
        """
        Applies a function to a column of the Table.
        Returns a new table with the column values replaced by the function.
        """
        return Table([row._replace(**{col: func(getattr(row, col))}) for row in self])
    
    def where(self, func):
        """
        Returns a copy of the table where the rows are filtered by func.
        """
        return Table(row for row in self if func(row))

Since `Table` is a subclass of list we can get a single record.

In [262]:
t = Table(table).apply("Price", parse_price)
t.group("Country").sum("Price")[7]

Record(Country='France', sum_Price=53100)

Also, since `Table` is a subclass of `list`, we can slice it.

In [263]:
t = Table(table).apply("Price", parse_price)
t.group("Country").agg("Price", max)[:5]

[Record(Country='Canada', max_Price=3600),
 Record(Country='Turkey', max_Price=1200),
 Record(Country='Italy', max_Price=7500),
 Record(Country='Czech Republic', max_Price=3600),
 Record(Country='Kuwait', max_Price=1200)]

In [251]:
t = Table(table).apply("Price", parse_price)
pprint(t.group("Product").max("Price"))
pprint(t.group("Product").min("Price"))
pprint(t.group("Product").avg("Price"))
pprint(t.group("Product").sum("Price"))

[Record(Product='Product3', max_Price=7500),
 Record(Product='Product2', max_Price=3600),
 Record(Product='Product1', max_Price=13000),
 Record(Product='Product3 ', max_Price=7500)]
[Record(Product='Product3', min_Price=7500),
 Record(Product='Product2', min_Price=3600),
 Record(Product='Product1', min_Price=250),
 Record(Product='Product3 ', min_Price=7500)]
[Record(Product='Product3', avg_Price=7500),
 Record(Product='Product2', avg_Price=3600),
 Record(Product='Product1', avg_Price=1214),
 Record(Product='Product3 ', avg_Price=7500)]
[Record(Product='Product3', sum_Price=105000),
 Record(Product='Product2', sum_Price=489600),
 Record(Product='Product1', sum_Price=1028400),
 Record(Product='Product3 ', sum_Price=7500)]

Similar to itemgetter, attrgetter allows you to sort based on attributes much like `getattr`

In [257]:
from operator import attrgetter

In [264]:
t = Table(table).apply("Price", parse_price)
sorted(t.where(lambda r: r.Price > 3000).group("Product").count(),
       key=attrgetter("count"))

[Record(Product='Product1', count=1),
 Record(Product='Product3 ', count=1),
 Record(Product='Product3', count=14),
 Record(Product='Product2', count=136)]

Here we'll look at the interior of a small `GroupBy`.

In [273]:
t = Table(table).apply("Price", parse_price).apply("City", lambda s: s.strip())
Table(t[:3]).group("Product")

GroupBy(__main__.Table,
        {'Product1': [Record(City='Basildon', Product='Product1', Name='carolina', Country='United Kingdom', Price=1200, Longitude='-1.1166667', State='England', Transaction_date='1/2/09 6:17', Last_Login='1/2/09 6:08', Payment_Type='Mastercard', Latitude='51.5', Account_Created='1/2/09 6:00'),
          Record(City='Parkville', Product='Product1', Name='Betina', Country='United States', Price=1200, Longitude='-94.68194', State='MO', Transaction_date='1/2/09 4:53', Last_Login='1/2/09 7:49', Payment_Type='Visa', Latitude='39.195', Account_Created='1/2/09 4:42'),
          Record(City='Astoria', Product='Product1', Name='Federica e Andrea', Country='United States', Price=1200, Longitude='-123.83', State='OR', Transaction_date='1/2/09 13:08', Last_Login='1/3/09 12:32', Payment_Type='Mastercard', Latitude='46.18806', Account_Created='1/1/09 16:21')]})